<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group {{lunchAnalyis | map2:'':'':'Please enter data first':'has-error':'has-success'}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lunchItems">
             <span class="help-block">Empty items are ignored.</span>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunchItems();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <span class="{{lunchAnalyis | map2:'':'':'Please enter data first':'text-danger':'text-success'}}">{{lunchAnalyis}}</span>
         </div>
   </div>

   <script src="js/angular.min.js" charset="utf-8"></script>
   <script src="js/app.js" charset="utf-8"></script>
</body>
</html>
